footer {
    position: relative;
    min-height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-dark);
    border-top: 0.2rem #374856 solid;
}