
header {
    background: var(--primary-dark);
    overflow: hidden;
    z-index: 999;
}

header h1, header h4, span {
    text-align: center;
    color: var(--primary-light);
}

h1  {
    margin: 1rem 2rem;
    font-size: 5em;
    font-family: 'Ramabhadra', sans-serif;
    animation: 1.8s fade-in, 0.8s slide-up;
}

h4 {
    font-size: 2.3rem;
    font-weight: 200;
    margin: 0.2rem 1rem;
    animation: 1.8s fade-in, 1.2s slide-up;
}

.header-content {
    width: 100%;
    height: calc(100vh * 0.85) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}


/* Blinking Cursor */

.blinking-cursor {
    font-weight: 100;
    font-size: 2rem;
    color: var(--primary-light);
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    vertical-align: top;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--primary-light);
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--primary-light);
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--primary-light);
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--primary-light);
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--primary-light);
    }
  }

/* END Blinking Cursor */


/* Mobile */
@media (max-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  .blinking-cursor {
    font-size: 1.1rem;
  }
}
