#stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1663px 1181px var(--stars), 226px 1590px var(--stars),
    1858px 286px var(--stars), 1281px 116px var(--stars),
    623px 1546px var(--stars), 1616px 1237px var(--stars),
    1849px 1805px var(--stars), 1938px 869px var(--stars),
    1077px 1154px var(--stars), 1205px 480px var(--stars),
    472px 1158px var(--stars), 365px 1302px var(--stars),
    1761px 1531px var(--stars), 1585px 1173px var(--stars),
    1689px 112px var(--stars), 66px 186px var(--stars),
    267px 1662px var(--stars), 962px 637px var(--stars),
    75px 1365px var(--stars), 1758px 1285px var(--stars),
    810px 472px var(--stars), 509px 1754px var(--stars),
    151px 1282px var(--stars), 1160px 1172px var(--stars),
    360px 1335px var(--stars), 1219px 90px var(--stars),
    1618px 1120px var(--stars), 1383px 420px var(--stars),
    1093px 312px var(--stars), 1242px 765px var(--stars),
    1211px 248px var(--stars), 318px 1428px var(--stars),
    1263px 729px var(--stars), 420px 610px var(--stars),
    808px 1869px var(--stars), 1919px 1795px var(--stars),
    495px 147px var(--stars), 1517px 1435px var(--stars),
    128px 1398px var(--stars), 1049px 1164px var(--stars),
    318px 1364px var(--stars), 347px 423px var(--stars),
    421px 1804px var(--stars), 1934px 983px var(--stars),
    1614px 1245px var(--stars), 1361px 442px var(--stars),
    269px 1057px var(--stars), 1929px 1671px var(--stars),
    282px 62px var(--stars), 1674px 1191px var(--stars), 9px 367px var(--stars),
    1718px 1894px var(--stars), 1621px 486px var(--stars),
    522px 1631px var(--stars), 1501px 593px var(--stars),
    500px 25px var(--stars), 428px 836px var(--stars), 1252px 182px var(--stars),
    37px 543px var(--stars), 1328px 403px var(--stars),
    1178px 1501px var(--stars), 1678px 1948px var(--stars),
    824px 92px var(--stars), 638px 211px var(--stars), 166px 1010px var(--stars),
    1493px 523px var(--stars), 827px 350px var(--stars),
    1167px 1524px var(--stars), 575px 1484px var(--stars),
    1637px 955px var(--stars), 1463px 89px var(--stars),
    1765px 22px var(--stars), 231px 1312px var(--stars),
    1766px 967px var(--stars), 131px 984px var(--stars),
    1382px 156px var(--stars), 656px 1826px var(--stars),
    354px 874px var(--stars), 1541px 1223px var(--stars),
    960px 1925px var(--stars), 1527px 177px var(--stars),
    316px 1732px var(--stars), 1952px 1297px var(--stars),
    1705px 1619px var(--stars), 1557px 654px var(--stars),
    430px 271px var(--stars), 358px 752px var(--stars),
    1755px 170px var(--stars), 44px 1066px var(--stars),
    1045px 1420px var(--stars), 141px 1413px var(--stars),
    1153px 888px var(--stars), 453px 1329px var(--stars),
    697px 1767px var(--stars), 267px 531px var(--stars),
    735px 347px var(--stars), 317px 1434px var(--stars),
    530px 1979px var(--stars), 1675px 307px var(--stars),
    1920px 862px var(--stars), 1848px 494px var(--stars),
    427px 1408px var(--stars), 718px 1277px var(--stars),
    896px 1449px var(--stars), 1037px 129px var(--stars),
    145px 1904px var(--stars), 259px 1119px var(--stars),
    907px 220px var(--stars), 1415px 562px var(--stars),
    768px 522px var(--stars), 1331px 1010px var(--stars),
    515px 696px var(--stars), 111px 761px var(--stars),
    1159px 1796px var(--stars), 444px 277px var(--stars),
    1963px 76px var(--stars), 844px 1526px var(--stars),
    1134px 1418px var(--stars), 678px 1593px var(--stars),
    934px 394px var(--stars), 1739px 392px var(--stars),
    1528px 223px var(--stars), 1920px 1718px var(--stars),
    1224px 450px var(--stars), 1668px 686px var(--stars),
    1172px 218px var(--stars), 287px 658px var(--stars),
    381px 1313px var(--stars), 635px 1529px var(--stars),
    1528px 1049px var(--stars), 1712px 1715px var(--stars),
    1437px 852px var(--stars), 540px 1841px var(--stars),
    1611px 1877px var(--stars), 1710px 51px var(--stars),
    909px 1631px var(--stars), 1854px 764px var(--stars),
    1338px 192px var(--stars), 617px 1258px var(--stars),
    208px 824px var(--stars), 1047px 1361px var(--stars),
    173px 113px var(--stars), 1508px 1804px var(--stars),
    188px 1183px var(--stars), 1820px 55px var(--stars),
    659px 221px var(--stars), 448px 344px var(--stars),
    763px 1174px var(--stars), 78px 30px var(--stars),
    1061px 1342px var(--stars), 1656px 66px var(--stars),
    769px 230px var(--stars), 1913px 1913px var(--stars),
    121px 390px var(--stars), 1024px 1154px var(--stars),
    1790px 1420px var(--stars), 1012px 1314px var(--stars),
    453px 158px var(--stars), 1239px 878px var(--stars),
    1569px 1115px var(--stars), 1072px 241px var(--stars),
    1681px 859px var(--stars), 1769px 1875px var(--stars),
    286px 1222px var(--stars), 1640px 374px var(--stars),
    502px 198px var(--stars), 622px 530px var(--stars), 287px 878px var(--stars),
    843px 125px var(--stars), 1159px 304px var(--stars),
    1497px 497px var(--stars), 932px 350px var(--stars),
    696px 1601px var(--stars), 523px 1348px var(--stars),
    1377px 188px var(--stars), 298px 99px var(--stars),
    1062px 128px var(--stars), 820px 1259px var(--stars),
    509px 597px var(--stars), 585px 1162px var(--stars),
    489px 146px var(--stars), 46px 1052px var(--stars), 515px 958px var(--stars),
    166px 1792px var(--stars), 314px 911px var(--stars),
    235px 1471px var(--stars), 57px 543px var(--stars), 7px 1195px var(--stars),
    586px 481px var(--stars), 295px 234px var(--stars), 54px 127px var(--stars),
    871px 1163px var(--stars), 580px 786px var(--stars),
    422px 1959px var(--stars), 1231px 444px var(--stars),
    182px 1187px var(--stars), 875px 280px var(--stars),
    1547px 662px var(--stars), 238px 249px var(--stars),
    1644px 70px var(--stars), 881px 46px var(--stars),
    1516px 1419px var(--stars), 457px 1554px var(--stars),
    1373px 1215px var(--stars), 775px 1275px var(--stars),
    1135px 1313px var(--stars), 1885px 698px var(--stars),
    149px 1510px var(--stars), 853px 1582px var(--stars),
    922px 1638px var(--stars), 979px 556px var(--stars),
    289px 698px var(--stars), 1464px 281px var(--stars),
    1652px 1897px var(--stars), 428px 1802px var(--stars),
    1989px 1707px var(--stars), 43px 208px var(--stars),
    1453px 1696px var(--stars), 456px 1237px var(--stars),
    1353px 435px var(--stars), 1049px 849px var(--stars),
    1616px 952px var(--stars), 1357px 854px var(--stars),
    1974px 285px var(--stars), 982px 1219px var(--stars),
    1367px 273px var(--stars), 321px 1681px var(--stars),
    986px 849px var(--stars), 803px 1388px var(--stars),
    739px 613px var(--stars), 478px 1525px var(--stars),
    1328px 723px var(--stars), 950px 575px var(--stars),
    1784px 1782px var(--stars), 294px 34px var(--stars),
    460px 1881px var(--stars), 1802px 882px var(--stars),
    1273px 1566px var(--stars), 1016px 59px var(--stars),
    334px 1715px var(--stars), 145px 1737px var(--stars),
    379px 40px var(--stars), 1666px 538px var(--stars),
    1766px 1327px var(--stars), 1760px 549px var(--stars),
    467px 1906px var(--stars), 1111px 536px var(--stars),
    284px 443px var(--stars), 1079px 197px var(--stars),
    386px 201px var(--stars), 1699px 176px var(--stars),
    1742px 1897px var(--stars), 1765px 309px var(--stars),
    513px 940px var(--stars), 1985px 3px var(--stars), 748px 1263px var(--stars),
    468px 1116px var(--stars), 1295px 1220px var(--stars),
    785px 1190px var(--stars), 977px 187px var(--stars),
    1702px 134px var(--stars), 1417px 1248px var(--stars),
    1259px 1960px var(--stars), 1635px 331px var(--stars),
    1483px 1580px var(--stars), 558px 1063px var(--stars),
    360px 1422px var(--stars), 260px 1296px var(--stars),
    283px 1391px var(--stars), 738px 1711px var(--stars),
    1946px 406px var(--stars), 574px 965px var(--stars),
    1760px 1102px var(--stars), 334px 26px var(--stars),
    1345px 643px var(--stars), 395px 334px var(--stars),
    434px 1931px var(--stars), 482px 922px var(--stars),
    438px 1441px var(--stars), 1122px 1533px var(--stars),
    215px 662px var(--stars), 510px 1119px var(--stars),
    451px 676px var(--stars), 1220px 42px var(--stars), 757px 265px var(--stars),
    1542px 7px var(--stars), 1728px 431px var(--stars),
    1217px 1251px var(--stars), 292px 1285px var(--stars),
    616px 483px var(--stars), 1513px 1866px var(--stars),
    219px 36px var(--stars), 104px 1638px var(--stars),
    419px 1087px var(--stars), 293px 432px var(--stars),
    179px 1669px var(--stars), 557px 720px var(--stars),
    543px 994px var(--stars), 899px 843px var(--stars),
    983px 1627px var(--stars), 1210px 1341px var(--stars),
    1126px 580px var(--stars), 960px 1651px var(--stars),
    683px 1189px var(--stars), 288px 1157px var(--stars),
    1841px 1042px var(--stars), 1006px 1798px var(--stars),
    1959px 1221px var(--stars), 121px 1005px var(--stars),
    58px 1962px var(--stars), 867px 502px var(--stars),
    1971px 1437px var(--stars), 1357px 1095px var(--stars),
    1319px 110px var(--stars), 1220px 500px var(--stars),
    1371px 1630px var(--stars), 1906px 565px var(--stars),
    1788px 1359px var(--stars), 1145px 1707px var(--stars),
    1374px 1687px var(--stars), 260px 34px var(--stars),
    1897px 996px var(--stars), 1864px 601px var(--stars),
    947px 1423px var(--stars), 778px 1919px var(--stars),
    1248px 355px var(--stars), 1863px 574px var(--stars),
    878px 737px var(--stars), 74px 158px var(--stars), 58px 1605px var(--stars),
    1194px 196px var(--stars), 1271px 110px var(--stars),
    268px 526px var(--stars), 1980px 86px var(--stars),
    1087px 544px var(--stars), 1638px 1691px var(--stars),
    777px 931px var(--stars), 734px 438px var(--stars), 584px 521px var(--stars),
    884px 1365px var(--stars), 1286px 597px var(--stars),
    208px 1517px var(--stars), 91px 855px var(--stars), 2px 1003px var(--stars),
    1317px 610px var(--stars), 355px 1430px var(--stars),
    1967px 1777px var(--stars), 1974px 445px var(--stars),
    1263px 387px var(--stars), 656px 863px var(--stars),
    1084px 161px var(--stars), 1546px 698px var(--stars),
    915px 1819px var(--stars), 1533px 1277px var(--stars),
    277px 1068px var(--stars), 1837px 1482px var(--stars),
    1540px 121px var(--stars), 383px 1444px var(--stars),
    1079px 14px var(--stars), 1539px 147px var(--stars),
    1973px 149px var(--stars), 1500px 342px var(--stars),
    331px 1440px var(--stars), 82px 1240px var(--stars),
    1835px 1072px var(--stars), 1366px 1375px var(--stars),
    351px 194px var(--stars), 1337px 1900px var(--stars),
    171px 1762px var(--stars), 1801px 204px var(--stars),
    1682px 1918px var(--stars), 1583px 369px var(--stars),
    341px 1320px var(--stars), 333px 1970px var(--stars),
    220px 1274px var(--stars), 118px 1984px var(--stars),
    666px 1957px var(--stars), 306px 1594px var(--stars),
    1834px 1896px var(--stars), 1003px 1701px var(--stars),
    782px 1814px var(--stars), 1288px 1306px var(--stars),
    513px 94px var(--stars), 902px 1487px var(--stars),
    299px 1074px var(--stars), 1007px 1347px var(--stars),
    904px 1783px var(--stars), 1594px 426px var(--stars),
    616px 361px var(--stars), 160px 1648px var(--stars),
    232px 1192px var(--stars), 1932px 1403px var(--stars),
    437px 1525px var(--stars), 461px 1456px var(--stars),
    486px 1863px var(--stars), 325px 1870px var(--stars),
    1618px 914px var(--stars), 176px 1599px var(--stars),
    973px 1411px var(--stars), 1160px 850px var(--stars),
    1028px 1009px var(--stars), 1365px 1744px var(--stars),
    1179px 1708px var(--stars), 1904px 821px var(--stars),
    1090px 924px var(--stars), 788px 166px var(--stars),
    1109px 1154px var(--stars), 1320px 1095px var(--stars),
    546px 1551px var(--stars), 1928px 185px var(--stars),
    445px 996px var(--stars), 1774px 1540px var(--stars),
    461px 167px var(--stars), 1473px 1351px var(--stars),
    1705px 1339px var(--stars), 463px 338px var(--stars),
    1657px 126px var(--stars), 1883px 1493px var(--stars),
    1912px 159px var(--stars), 1440px 1839px var(--stars),
    282px 40px var(--stars), 771px 421px var(--stars), 419px 247px var(--stars),
    648px 1085px var(--stars), 1220px 54px var(--stars),
    355px 737px var(--stars), 354px 1620px var(--stars),
    1684px 306px var(--stars), 681px 1670px var(--stars),
    1307px 304px var(--stars), 1130px 1738px var(--stars),
    595px 1541px var(--stars), 911px 492px var(--stars),
    786px 943px var(--stars), 1709px 95px var(--stars),
    1226px 1739px var(--stars), 1198px 742px var(--stars),
    400px 1427px var(--stars), 1964px 946px var(--stars),
    1450px 1027px var(--stars), 929px 251px var(--stars),
    524px 1916px var(--stars), 1542px 929px var(--stars),
    447px 1977px var(--stars), 254px 243px var(--stars), 979px 75px var(--stars),
    1909px 1614px var(--stars), 1615px 123px var(--stars),
    1646px 995px var(--stars), 982px 1824px var(--stars),
    1642px 1219px var(--stars), 1165px 986px var(--stars),
    1579px 1274px var(--stars), 330px 1794px var(--stars),
    1660px 1733px var(--stars), 44px 1416px var(--stars),
    196px 1255px var(--stars), 933px 446px var(--stars),
    226px 1438px var(--stars), 986px 1177px var(--stars),
    526px 552px var(--stars), 766px 1004px var(--stars),
    135px 1110px var(--stars), 1084px 1252px var(--stars),
    294px 253px var(--stars), 419px 1909px var(--stars),
    1635px 1326px var(--stars), 1635px 75px var(--stars),
    1101px 1840px var(--stars), 1159px 1456px var(--stars),
    195px 56px var(--stars), 1508px 1945px var(--stars),
    1669px 1329px var(--stars), 1433px 1425px var(--stars),
    368px 1946px var(--stars), 1314px 844px var(--stars),
    199px 1407px var(--stars), 788px 751px var(--stars),
    1050px 252px var(--stars), 1899px 152px var(--stars),
    15px 887px var(--stars), 1817px 67px var(--stars), 716px 1028px var(--stars),
    1118px 666px var(--stars), 1201px 379px var(--stars),
    1914px 1115px var(--stars), 800px 1977px var(--stars),
    1267px 56px var(--stars), 502px 763px var(--stars),
    1880px 1096px var(--stars), 1097px 517px var(--stars),
    1228px 1844px var(--stars), 228px 1653px var(--stars),
    1191px 1247px var(--stars), 288px 973px var(--stars),
    660px 1343px var(--stars), 1523px 1830px var(--stars),
    1396px 1030px var(--stars), 1112px 1128px var(--stars),
    1066px 708px var(--stars), 851px 1731px var(--stars),
    594px 1525px var(--stars), 1125px 1597px var(--stars),
    1429px 1785px var(--stars), 23px 1227px var(--stars),
    1453px 1625px var(--stars), 558px 143px var(--stars),
    1550px 1483px var(--stars), 528px 706px var(--stars),
    127px 155px var(--stars), 933px 490px var(--stars),
    1734px 591px var(--stars), 1625px 1332px var(--stars),
    268px 1720px var(--stars), 1517px 789px var(--stars),
    1021px 707px var(--stars), 524px 394px var(--stars),
    534px 967px var(--stars), 613px 398px var(--stars), 12px 466px var(--stars),
    373px 1462px var(--stars), 25px 765px var(--stars),
    463px 1030px var(--stars), 969px 230px var(--stars),
    891px 1055px var(--stars), 1682px 1174px var(--stars),
    234px 544px var(--stars), 737px 1760px var(--stars),
    123px 1620px var(--stars), 1417px 1262px var(--stars),
    1757px 1372px var(--stars), 1525px 1479px var(--stars),
    853px 271px var(--stars), 275px 266px var(--stars),
    1500px 1988px var(--stars), 883px 1274px var(--stars),
    199px 609px var(--stars), 1489px 1256px var(--stars),
    330px 1265px var(--stars), 978px 627px var(--stars),
    1798px 1777px var(--stars), 1140px 1857px var(--stars),
    657px 1916px var(--stars), 210px 662px var(--stars),
    1116px 1417px var(--stars), 449px 1438px var(--stars),
    1282px 1261px var(--stars), 136px 103px var(--stars),
    861px 58px var(--stars), 92px 827px var(--stars), 1394px 1744px var(--stars),
    1746px 377px var(--stars), 1985px 595px var(--stars),
    1954px 382px var(--stars), 1591px 169px var(--stars),
    639px 315px var(--stars), 886px 199px var(--stars),
    1708px 1318px var(--stars), 1792px 235px var(--stars),
    229px 1728px var(--stars), 611px 366px var(--stars),
    1259px 730px var(--stars), 593px 1565px var(--stars),
    1478px 879px var(--stars), 1116px 1274px var(--stars),
    480px 693px var(--stars), 1314px 379px var(--stars),
    493px 986px var(--stars), 1952px 1116px var(--stars),
    1338px 1767px var(--stars), 1937px 46px var(--stars),
    175px 400px var(--stars), 251px 1664px var(--stars),
    101px 1476px var(--stars), 1586px 920px var(--stars),
    1521px 1984px var(--stars), 706px 725px var(--stars),
    1548px 1424px var(--stars), 766px 743px var(--stars),
    1988px 1025px var(--stars), 1841px 1269px var(--stars),
    781px 927px var(--stars), 426px 1614px var(--stars),
    1845px 934px var(--stars), 546px 1096px var(--stars),
    1647px 284px var(--stars), 1220px 74px var(--stars),
    1426px 1532px var(--stars), 1623px 1626px var(--stars),
    1044px 1800px var(--stars), 97px 1055px var(--stars),
    79px 1956px var(--stars), 671px 793px var(--stars),
    1490px 885px var(--stars), 517px 190px var(--stars),
    130px 1717px var(--stars), 616px 1831px var(--stars),
    1811px 1346px var(--stars), 1408px 985px var(--stars),
    305px 197px var(--stars), 188px 673px var(--stars),
    1424px 264px var(--stars), 514px 92px var(--stars), 380px 757px var(--stars),
    1873px 100px var(--stars), 1386px 1020px var(--stars),
    1882px 647px var(--stars), 205px 172px var(--stars),
    1768px 1205px var(--stars), 349px 788px var(--stars),
    843px 686px var(--stars), 623px 1730px var(--stars),
    1998px 1398px var(--stars), 1816px 670px var(--stars),
    434px 258px var(--stars), 1736px 376px var(--stars),
    1840px 461px var(--stars), 388px 1453px var(--stars),
    1908px 805px var(--stars), 585px 1245px var(--stars),
    179px 396px var(--stars), 998px 1918px var(--stars),
    383px 552px var(--stars), 1607px 996px var(--stars),
    1016px 472px var(--stars), 110px 1656px var(--stars),
    584px 712px var(--stars), 1143px 1131px var(--stars),
    1897px 850px var(--stars), 255px 844px var(--stars),
    1590px 39px var(--stars), 1791px 1476px var(--stars),
    262px 924px var(--stars), 1885px 438px var(--stars),
    1146px 1487px var(--stars), 1039px 1094px var(--stars),
    16px 399px var(--stars), 670px 598px var(--stars), 969px 1085px var(--stars),
    32px 561px var(--stars), 1923px 635px var(--stars),
    981px 1534px var(--stars), 233px 607px var(--stars),
    1635px 1895px var(--stars), 952px 1170px var(--stars),
    90px 1296px var(--stars), 294px 252px var(--stars), 631px 303px var(--stars),
    1708px 1904px var(--stars), 1768px 708px var(--stars),
    529px 808px var(--stars), 1588px 97px var(--stars),
    1314px 1476px var(--stars), 1969px 1497px var(--stars),
    142px 1907px var(--stars), 86px 619px var(--stars),
    1398px 563px var(--stars), 427px 240px var(--stars),
    1412px 1115px var(--stars), 1437px 596px var(--stars),
    1079px 82px var(--stars), 1610px 154px var(--stars),
    1986px 338px var(--stars), 983px 288px var(--stars),
    101px 1709px var(--stars), 1525px 385px var(--stars),
    1790px 1416px var(--stars), 1864px 1594px var(--stars),
    168px 1265px var(--stars), 1265px 607px var(--stars),
    22px 572px var(--stars), 265px 52px var(--stars), 517px 299px var(--stars),
    263px 555px var(--stars), 667px 161px var(--stars),
    1932px 1751px var(--stars), 1832px 1772px var(--stars),
    1661px 53px var(--stars), 853px 439px var(--stars),
    1131px 1098px var(--stars), 389px 93px var(--stars),
    1307px 1958px var(--stars), 91px 1824px var(--stars),
    1588px 952px var(--stars), 1966px 1134px var(--stars),
    75px 771px var(--stars), 1511px 629px var(--stars), 25px 258px var(--stars),
    15px 645px var(--stars), 1957px 367px var(--stars), 772px 336px var(--stars),
    1759px 189px var(--stars), 560px 77px var(--stars),
    356px 1616px var(--stars), 1782px 1477px var(--stars),
    123px 831px var(--stars), 437px 1022px var(--stars),
    629px 1320px var(--stars), 1612px 49px var(--stars),
    1753px 804px var(--stars);
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1663px 1181px var(--stars), 226px 1590px var(--stars),
    1858px 286px var(--stars), 1281px 116px var(--stars),
    623px 1546px var(--stars), 1616px 1237px var(--stars),
    1849px 1805px var(--stars), 1938px 869px var(--stars),
    1077px 1154px var(--stars), 1205px 480px var(--stars),
    472px 1158px var(--stars), 365px 1302px var(--stars),
    1761px 1531px var(--stars), 1585px 1173px var(--stars),
    1689px 112px var(--stars), 66px 186px var(--stars),
    267px 1662px var(--stars), 962px 637px var(--stars),
    75px 1365px var(--stars), 1758px 1285px var(--stars),
    810px 472px var(--stars), 509px 1754px var(--stars),
    151px 1282px var(--stars), 1160px 1172px var(--stars),
    360px 1335px var(--stars), 1219px 90px var(--stars),
    1618px 1120px var(--stars), 1383px 420px var(--stars),
    1093px 312px var(--stars), 1242px 765px var(--stars),
    1211px 248px var(--stars), 318px 1428px var(--stars),
    1263px 729px var(--stars), 420px 610px var(--stars),
    808px 1869px var(--stars), 1919px 1795px var(--stars),
    495px 147px var(--stars), 1517px 1435px var(--stars),
    128px 1398px var(--stars), 1049px 1164px var(--stars),
    318px 1364px var(--stars), 347px 423px var(--stars),
    421px 1804px var(--stars), 1934px 983px var(--stars),
    1614px 1245px var(--stars), 1361px 442px var(--stars),
    269px 1057px var(--stars), 1929px 1671px var(--stars),
    282px 62px var(--stars), 1674px 1191px var(--stars), 9px 367px var(--stars),
    1718px 1894px var(--stars), 1621px 486px var(--stars),
    522px 1631px var(--stars), 1501px 593px var(--stars),
    500px 25px var(--stars), 428px 836px var(--stars), 1252px 182px var(--stars),
    37px 543px var(--stars), 1328px 403px var(--stars),
    1178px 1501px var(--stars), 1678px 1948px var(--stars),
    824px 92px var(--stars), 638px 211px var(--stars), 166px 1010px var(--stars),
    1493px 523px var(--stars), 827px 350px var(--stars),
    1167px 1524px var(--stars), 575px 1484px var(--stars),
    1637px 955px var(--stars), 1463px 89px var(--stars),
    1765px 22px var(--stars), 231px 1312px var(--stars),
    1766px 967px var(--stars), 131px 984px var(--stars),
    1382px 156px var(--stars), 656px 1826px var(--stars),
    354px 874px var(--stars), 1541px 1223px var(--stars),
    960px 1925px var(--stars), 1527px 177px var(--stars),
    316px 1732px var(--stars), 1952px 1297px var(--stars),
    1705px 1619px var(--stars), 1557px 654px var(--stars),
    430px 271px var(--stars), 358px 752px var(--stars),
    1755px 170px var(--stars), 44px 1066px var(--stars),
    1045px 1420px var(--stars), 141px 1413px var(--stars),
    1153px 888px var(--stars), 453px 1329px var(--stars),
    697px 1767px var(--stars), 267px 531px var(--stars),
    735px 347px var(--stars), 317px 1434px var(--stars),
    530px 1979px var(--stars), 1675px 307px var(--stars),
    1920px 862px var(--stars), 1848px 494px var(--stars),
    427px 1408px var(--stars), 718px 1277px var(--stars),
    896px 1449px var(--stars), 1037px 129px var(--stars),
    145px 1904px var(--stars), 259px 1119px var(--stars),
    907px 220px var(--stars), 1415px 562px var(--stars),
    768px 522px var(--stars), 1331px 1010px var(--stars),
    515px 696px var(--stars), 111px 761px var(--stars),
    1159px 1796px var(--stars), 444px 277px var(--stars),
    1963px 76px var(--stars), 844px 1526px var(--stars),
    1134px 1418px var(--stars), 678px 1593px var(--stars),
    934px 394px var(--stars), 1739px 392px var(--stars),
    1528px 223px var(--stars), 1920px 1718px var(--stars),
    1224px 450px var(--stars), 1668px 686px var(--stars),
    1172px 218px var(--stars), 287px 658px var(--stars),
    381px 1313px var(--stars), 635px 1529px var(--stars),
    1528px 1049px var(--stars), 1712px 1715px var(--stars),
    1437px 852px var(--stars), 540px 1841px var(--stars),
    1611px 1877px var(--stars), 1710px 51px var(--stars),
    909px 1631px var(--stars), 1854px 764px var(--stars),
    1338px 192px var(--stars), 617px 1258px var(--stars),
    208px 824px var(--stars), 1047px 1361px var(--stars),
    173px 113px var(--stars), 1508px 1804px var(--stars),
    188px 1183px var(--stars), 1820px 55px var(--stars),
    659px 221px var(--stars), 448px 344px var(--stars),
    763px 1174px var(--stars), 78px 30px var(--stars),
    1061px 1342px var(--stars), 1656px 66px var(--stars),
    769px 230px var(--stars), 1913px 1913px var(--stars),
    121px 390px var(--stars), 1024px 1154px var(--stars),
    1790px 1420px var(--stars), 1012px 1314px var(--stars),
    453px 158px var(--stars), 1239px 878px var(--stars),
    1569px 1115px var(--stars), 1072px 241px var(--stars),
    1681px 859px var(--stars), 1769px 1875px var(--stars),
    286px 1222px var(--stars), 1640px 374px var(--stars),
    502px 198px var(--stars), 622px 530px var(--stars), 287px 878px var(--stars),
    843px 125px var(--stars), 1159px 304px var(--stars),
    1497px 497px var(--stars), 932px 350px var(--stars),
    696px 1601px var(--stars), 523px 1348px var(--stars),
    1377px 188px var(--stars), 298px 99px var(--stars),
    1062px 128px var(--stars), 820px 1259px var(--stars),
    509px 597px var(--stars), 585px 1162px var(--stars),
    489px 146px var(--stars), 46px 1052px var(--stars), 515px 958px var(--stars),
    166px 1792px var(--stars), 314px 911px var(--stars),
    235px 1471px var(--stars), 57px 543px var(--stars), 7px 1195px var(--stars),
    586px 481px var(--stars), 295px 234px var(--stars), 54px 127px var(--stars),
    871px 1163px var(--stars), 580px 786px var(--stars),
    422px 1959px var(--stars), 1231px 444px var(--stars),
    182px 1187px var(--stars), 875px 280px var(--stars),
    1547px 662px var(--stars), 238px 249px var(--stars),
    1644px 70px var(--stars), 881px 46px var(--stars),
    1516px 1419px var(--stars), 457px 1554px var(--stars),
    1373px 1215px var(--stars), 775px 1275px var(--stars),
    1135px 1313px var(--stars), 1885px 698px var(--stars),
    149px 1510px var(--stars), 853px 1582px var(--stars),
    922px 1638px var(--stars), 979px 556px var(--stars),
    289px 698px var(--stars), 1464px 281px var(--stars),
    1652px 1897px var(--stars), 428px 1802px var(--stars),
    1989px 1707px var(--stars), 43px 208px var(--stars),
    1453px 1696px var(--stars), 456px 1237px var(--stars),
    1353px 435px var(--stars), 1049px 849px var(--stars),
    1616px 952px var(--stars), 1357px 854px var(--stars),
    1974px 285px var(--stars), 982px 1219px var(--stars),
    1367px 273px var(--stars), 321px 1681px var(--stars),
    986px 849px var(--stars), 803px 1388px var(--stars),
    739px 613px var(--stars), 478px 1525px var(--stars),
    1328px 723px var(--stars), 950px 575px var(--stars),
    1784px 1782px var(--stars), 294px 34px var(--stars),
    460px 1881px var(--stars), 1802px 882px var(--stars),
    1273px 1566px var(--stars), 1016px 59px var(--stars),
    334px 1715px var(--stars), 145px 1737px var(--stars),
    379px 40px var(--stars), 1666px 538px var(--stars),
    1766px 1327px var(--stars), 1760px 549px var(--stars),
    467px 1906px var(--stars), 1111px 536px var(--stars),
    284px 443px var(--stars), 1079px 197px var(--stars),
    386px 201px var(--stars), 1699px 176px var(--stars),
    1742px 1897px var(--stars), 1765px 309px var(--stars),
    513px 940px var(--stars), 1985px 3px var(--stars), 748px 1263px var(--stars),
    468px 1116px var(--stars), 1295px 1220px var(--stars),
    785px 1190px var(--stars), 977px 187px var(--stars),
    1702px 134px var(--stars), 1417px 1248px var(--stars),
    1259px 1960px var(--stars), 1635px 331px var(--stars),
    1483px 1580px var(--stars), 558px 1063px var(--stars),
    360px 1422px var(--stars), 260px 1296px var(--stars),
    283px 1391px var(--stars), 738px 1711px var(--stars),
    1946px 406px var(--stars), 574px 965px var(--stars),
    1760px 1102px var(--stars), 334px 26px var(--stars),
    1345px 643px var(--stars), 395px 334px var(--stars),
    434px 1931px var(--stars), 482px 922px var(--stars),
    438px 1441px var(--stars), 1122px 1533px var(--stars),
    215px 662px var(--stars), 510px 1119px var(--stars),
    451px 676px var(--stars), 1220px 42px var(--stars), 757px 265px var(--stars),
    1542px 7px var(--stars), 1728px 431px var(--stars),
    1217px 1251px var(--stars), 292px 1285px var(--stars),
    616px 483px var(--stars), 1513px 1866px var(--stars),
    219px 36px var(--stars), 104px 1638px var(--stars),
    419px 1087px var(--stars), 293px 432px var(--stars),
    179px 1669px var(--stars), 557px 720px var(--stars),
    543px 994px var(--stars), 899px 843px var(--stars),
    983px 1627px var(--stars), 1210px 1341px var(--stars),
    1126px 580px var(--stars), 960px 1651px var(--stars),
    683px 1189px var(--stars), 288px 1157px var(--stars),
    1841px 1042px var(--stars), 1006px 1798px var(--stars),
    1959px 1221px var(--stars), 121px 1005px var(--stars),
    58px 1962px var(--stars), 867px 502px var(--stars),
    1971px 1437px var(--stars), 1357px 1095px var(--stars),
    1319px 110px var(--stars), 1220px 500px var(--stars),
    1371px 1630px var(--stars), 1906px 565px var(--stars),
    1788px 1359px var(--stars), 1145px 1707px var(--stars),
    1374px 1687px var(--stars), 260px 34px var(--stars),
    1897px 996px var(--stars), 1864px 601px var(--stars),
    947px 1423px var(--stars), 778px 1919px var(--stars),
    1248px 355px var(--stars), 1863px 574px var(--stars),
    878px 737px var(--stars), 74px 158px var(--stars), 58px 1605px var(--stars),
    1194px 196px var(--stars), 1271px 110px var(--stars),
    268px 526px var(--stars), 1980px 86px var(--stars),
    1087px 544px var(--stars), 1638px 1691px var(--stars),
    777px 931px var(--stars), 734px 438px var(--stars), 584px 521px var(--stars),
    884px 1365px var(--stars), 1286px 597px var(--stars),
    208px 1517px var(--stars), 91px 855px var(--stars), 2px 1003px var(--stars),
    1317px 610px var(--stars), 355px 1430px var(--stars),
    1967px 1777px var(--stars), 1974px 445px var(--stars),
    1263px 387px var(--stars), 656px 863px var(--stars),
    1084px 161px var(--stars), 1546px 698px var(--stars),
    915px 1819px var(--stars), 1533px 1277px var(--stars),
    277px 1068px var(--stars), 1837px 1482px var(--stars),
    1540px 121px var(--stars), 383px 1444px var(--stars),
    1079px 14px var(--stars), 1539px 147px var(--stars),
    1973px 149px var(--stars), 1500px 342px var(--stars),
    331px 1440px var(--stars), 82px 1240px var(--stars),
    1835px 1072px var(--stars), 1366px 1375px var(--stars),
    351px 194px var(--stars), 1337px 1900px var(--stars),
    171px 1762px var(--stars), 1801px 204px var(--stars),
    1682px 1918px var(--stars), 1583px 369px var(--stars),
    341px 1320px var(--stars), 333px 1970px var(--stars),
    220px 1274px var(--stars), 118px 1984px var(--stars),
    666px 1957px var(--stars), 306px 1594px var(--stars),
    1834px 1896px var(--stars), 1003px 1701px var(--stars),
    782px 1814px var(--stars), 1288px 1306px var(--stars),
    513px 94px var(--stars), 902px 1487px var(--stars),
    299px 1074px var(--stars), 1007px 1347px var(--stars),
    904px 1783px var(--stars), 1594px 426px var(--stars),
    616px 361px var(--stars), 160px 1648px var(--stars),
    232px 1192px var(--stars), 1932px 1403px var(--stars),
    437px 1525px var(--stars), 461px 1456px var(--stars),
    486px 1863px var(--stars), 325px 1870px var(--stars),
    1618px 914px var(--stars), 176px 1599px var(--stars),
    973px 1411px var(--stars), 1160px 850px var(--stars),
    1028px 1009px var(--stars), 1365px 1744px var(--stars),
    1179px 1708px var(--stars), 1904px 821px var(--stars),
    1090px 924px var(--stars), 788px 166px var(--stars),
    1109px 1154px var(--stars), 1320px 1095px var(--stars),
    546px 1551px var(--stars), 1928px 185px var(--stars),
    445px 996px var(--stars), 1774px 1540px var(--stars),
    461px 167px var(--stars), 1473px 1351px var(--stars),
    1705px 1339px var(--stars), 463px 338px var(--stars),
    1657px 126px var(--stars), 1883px 1493px var(--stars),
    1912px 159px var(--stars), 1440px 1839px var(--stars),
    282px 40px var(--stars), 771px 421px var(--stars), 419px 247px var(--stars),
    648px 1085px var(--stars), 1220px 54px var(--stars),
    355px 737px var(--stars), 354px 1620px var(--stars),
    1684px 306px var(--stars), 681px 1670px var(--stars),
    1307px 304px var(--stars), 1130px 1738px var(--stars),
    595px 1541px var(--stars), 911px 492px var(--stars),
    786px 943px var(--stars), 1709px 95px var(--stars),
    1226px 1739px var(--stars), 1198px 742px var(--stars),
    400px 1427px var(--stars), 1964px 946px var(--stars),
    1450px 1027px var(--stars), 929px 251px var(--stars),
    524px 1916px var(--stars), 1542px 929px var(--stars),
    447px 1977px var(--stars), 254px 243px var(--stars), 979px 75px var(--stars),
    1909px 1614px var(--stars), 1615px 123px var(--stars),
    1646px 995px var(--stars), 982px 1824px var(--stars),
    1642px 1219px var(--stars), 1165px 986px var(--stars),
    1579px 1274px var(--stars), 330px 1794px var(--stars),
    1660px 1733px var(--stars), 44px 1416px var(--stars),
    196px 1255px var(--stars), 933px 446px var(--stars),
    226px 1438px var(--stars), 986px 1177px var(--stars),
    526px 552px var(--stars), 766px 1004px var(--stars),
    135px 1110px var(--stars), 1084px 1252px var(--stars),
    294px 253px var(--stars), 419px 1909px var(--stars),
    1635px 1326px var(--stars), 1635px 75px var(--stars),
    1101px 1840px var(--stars), 1159px 1456px var(--stars),
    195px 56px var(--stars), 1508px 1945px var(--stars),
    1669px 1329px var(--stars), 1433px 1425px var(--stars),
    368px 1946px var(--stars), 1314px 844px var(--stars),
    199px 1407px var(--stars), 788px 751px var(--stars),
    1050px 252px var(--stars), 1899px 152px var(--stars),
    15px 887px var(--stars), 1817px 67px var(--stars), 716px 1028px var(--stars),
    1118px 666px var(--stars), 1201px 379px var(--stars),
    1914px 1115px var(--stars), 800px 1977px var(--stars),
    1267px 56px var(--stars), 502px 763px var(--stars),
    1880px 1096px var(--stars), 1097px 517px var(--stars),
    1228px 1844px var(--stars), 228px 1653px var(--stars),
    1191px 1247px var(--stars), 288px 973px var(--stars),
    660px 1343px var(--stars), 1523px 1830px var(--stars),
    1396px 1030px var(--stars), 1112px 1128px var(--stars),
    1066px 708px var(--stars), 851px 1731px var(--stars),
    594px 1525px var(--stars), 1125px 1597px var(--stars),
    1429px 1785px var(--stars), 23px 1227px var(--stars),
    1453px 1625px var(--stars), 558px 143px var(--stars),
    1550px 1483px var(--stars), 528px 706px var(--stars),
    127px 155px var(--stars), 933px 490px var(--stars),
    1734px 591px var(--stars), 1625px 1332px var(--stars),
    268px 1720px var(--stars), 1517px 789px var(--stars),
    1021px 707px var(--stars), 524px 394px var(--stars),
    534px 967px var(--stars), 613px 398px var(--stars), 12px 466px var(--stars),
    373px 1462px var(--stars), 25px 765px var(--stars),
    463px 1030px var(--stars), 969px 230px var(--stars),
    891px 1055px var(--stars), 1682px 1174px var(--stars),
    234px 544px var(--stars), 737px 1760px var(--stars),
    123px 1620px var(--stars), 1417px 1262px var(--stars),
    1757px 1372px var(--stars), 1525px 1479px var(--stars),
    853px 271px var(--stars), 275px 266px var(--stars),
    1500px 1988px var(--stars), 883px 1274px var(--stars),
    199px 609px var(--stars), 1489px 1256px var(--stars),
    330px 1265px var(--stars), 978px 627px var(--stars),
    1798px 1777px var(--stars), 1140px 1857px var(--stars),
    657px 1916px var(--stars), 210px 662px var(--stars),
    1116px 1417px var(--stars), 449px 1438px var(--stars),
    1282px 1261px var(--stars), 136px 103px var(--stars),
    861px 58px var(--stars), 92px 827px var(--stars), 1394px 1744px var(--stars),
    1746px 377px var(--stars), 1985px 595px var(--stars),
    1954px 382px var(--stars), 1591px 169px var(--stars),
    639px 315px var(--stars), 886px 199px var(--stars),
    1708px 1318px var(--stars), 1792px 235px var(--stars),
    229px 1728px var(--stars), 611px 366px var(--stars),
    1259px 730px var(--stars), 593px 1565px var(--stars),
    1478px 879px var(--stars), 1116px 1274px var(--stars),
    480px 693px var(--stars), 1314px 379px var(--stars),
    493px 986px var(--stars), 1952px 1116px var(--stars),
    1338px 1767px var(--stars), 1937px 46px var(--stars),
    175px 400px var(--stars), 251px 1664px var(--stars),
    101px 1476px var(--stars), 1586px 920px var(--stars),
    1521px 1984px var(--stars), 706px 725px var(--stars),
    1548px 1424px var(--stars), 766px 743px var(--stars),
    1988px 1025px var(--stars), 1841px 1269px var(--stars),
    781px 927px var(--stars), 426px 1614px var(--stars),
    1845px 934px var(--stars), 546px 1096px var(--stars),
    1647px 284px var(--stars), 1220px 74px var(--stars),
    1426px 1532px var(--stars), 1623px 1626px var(--stars),
    1044px 1800px var(--stars), 97px 1055px var(--stars),
    79px 1956px var(--stars), 671px 793px var(--stars),
    1490px 885px var(--stars), 517px 190px var(--stars),
    130px 1717px var(--stars), 616px 1831px var(--stars),
    1811px 1346px var(--stars), 1408px 985px var(--stars),
    305px 197px var(--stars), 188px 673px var(--stars),
    1424px 264px var(--stars), 514px 92px var(--stars), 380px 757px var(--stars),
    1873px 100px var(--stars), 1386px 1020px var(--stars),
    1882px 647px var(--stars), 205px 172px var(--stars),
    1768px 1205px var(--stars), 349px 788px var(--stars),
    843px 686px var(--stars), 623px 1730px var(--stars),
    1998px 1398px var(--stars), 1816px 670px var(--stars),
    434px 258px var(--stars), 1736px 376px var(--stars),
    1840px 461px var(--stars), 388px 1453px var(--stars),
    1908px 805px var(--stars), 585px 1245px var(--stars),
    179px 396px var(--stars), 998px 1918px var(--stars),
    383px 552px var(--stars), 1607px 996px var(--stars),
    1016px 472px var(--stars), 110px 1656px var(--stars),
    584px 712px var(--stars), 1143px 1131px var(--stars),
    1897px 850px var(--stars), 255px 844px var(--stars),
    1590px 39px var(--stars), 1791px 1476px var(--stars),
    262px 924px var(--stars), 1885px 438px var(--stars),
    1146px 1487px var(--stars), 1039px 1094px var(--stars),
    16px 399px var(--stars), 670px 598px var(--stars), 969px 1085px var(--stars),
    32px 561px var(--stars), 1923px 635px var(--stars),
    981px 1534px var(--stars), 233px 607px var(--stars),
    1635px 1895px var(--stars), 952px 1170px var(--stars),
    90px 1296px var(--stars), 294px 252px var(--stars), 631px 303px var(--stars),
    1708px 1904px var(--stars), 1768px 708px var(--stars),
    529px 808px var(--stars), 1588px 97px var(--stars),
    1314px 1476px var(--stars), 1969px 1497px var(--stars),
    142px 1907px var(--stars), 86px 619px var(--stars),
    1398px 563px var(--stars), 427px 240px var(--stars),
    1412px 1115px var(--stars), 1437px 596px var(--stars),
    1079px 82px var(--stars), 1610px 154px var(--stars),
    1986px 338px var(--stars), 983px 288px var(--stars),
    101px 1709px var(--stars), 1525px 385px var(--stars),
    1790px 1416px var(--stars), 1864px 1594px var(--stars),
    168px 1265px var(--stars), 1265px 607px var(--stars),
    22px 572px var(--stars), 265px 52px var(--stars), 517px 299px var(--stars),
    263px 555px var(--stars), 667px 161px var(--stars),
    1932px 1751px var(--stars), 1832px 1772px var(--stars),
    1661px 53px var(--stars), 853px 439px var(--stars),
    1131px 1098px var(--stars), 389px 93px var(--stars),
    1307px 1958px var(--stars), 91px 1824px var(--stars),
    1588px 952px var(--stars), 1966px 1134px var(--stars),
    75px 771px var(--stars), 1511px 629px var(--stars), 25px 258px var(--stars),
    15px 645px var(--stars), 1957px 367px var(--stars), 772px 336px var(--stars),
    1759px 189px var(--stars), 560px 77px var(--stars),
    356px 1616px var(--stars), 1782px 1477px var(--stars),
    123px 831px var(--stars), 437px 1022px var(--stars),
    629px 1320px var(--stars), 1612px 49px var(--stars),
    1753px 804px var(--stars);
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1019px 1130px var(--stars2) , 817px 653px var(--stars2) , 259px 470px var(--stars2) , 480px 1003px var(--stars2) , 764px 1622px var(--stars2) , 1986px 1452px var(--stars2) , 4px 899px var(--stars2) , 47px 769px var(--stars2) , 911px 932px var(--stars2) , 211px 240px var(--stars2) , 1114px 1301px var(--stars2) , 319px 1306px var(--stars2) , 1239px 764px var(--stars2) , 1978px 438px var(--stars2) , 1433px 1125px var(--stars2) , 1798px 555px var(--stars2) , 1155px 822px var(--stars2) , 1388px 773px var(--stars2) , 1332px 387px var(--stars2) , 1472px 655px var(--stars2) , 535px 1069px var(--stars2) , 631px 1257px var(--stars2) , 240px 644px var(--stars2) , 1430px 899px var(--stars2) , 666px 1668px var(--stars2) , 1137px 1124px var(--stars2) , 785px 448px var(--stars2) , 914px 129px var(--stars2) , 881px 1502px var(--stars2) , 250px 1284px var(--stars2) , 443px 1188px var(--stars2) , 659px 786px var(--stars2) , 442px 1121px var(--stars2) , 1620px 587px var(--stars2) , 986px 1982px var(--stars2) , 41px 707px var(--stars2) , 664px 557px var(--stars2) , 1279px 366px var(--stars2) , 271px 1676px var(--stars2) , 757px 1813px var(--stars2) , 1573px 1683px var(--stars2) , 872px 1739px var(--stars2) , 345px 186px var(--stars2) , 756px 1644px var(--stars2) , 851px 395px var(--stars2) , 1654px 358px var(--stars2) , 578px 1646px var(--stars2) , 768px 600px var(--stars2) , 416px 469px var(--stars2) , 1071px 539px var(--stars2) , 353px 1092px var(--stars2) , 490px 1531px var(--stars2) , 131px 1987px var(--stars2) , 1204px 1228px var(--stars2) , 159px 1459px var(--stars2) , 1566px 1002px var(--stars2) , 779px 1687px var(--stars2) , 1989px 1731px var(--stars2) , 1192px 1269px var(--stars2) , 1518px 461px var(--stars2) , 1379px 476px var(--stars2) , 1584px 1178px var(--stars2) , 813px 626px var(--stars2) , 1240px 1006px var(--stars2) , 867px 1143px var(--stars2) , 1471px 1444px var(--stars2) , 1303px 1996px var(--stars2) , 1632px 1286px var(--stars2) , 1606px 340px var(--stars2) , 80px 732px var(--stars2) , 422px 1514px var(--stars2) , 505px 1279px var(--stars2) , 1927px 541px var(--stars2) , 97px 540px var(--stars2) , 1691px 1849px var(--stars2) , 1065px 451px var(--stars2) , 1626px 672px var(--stars2) , 1217px 1584px var(--stars2) , 547px 1794px var(--stars2) , 1897px 729px var(--stars2) , 272px 6px var(--stars2) , 1260px 311px var(--stars2) , 1839px 1045px var(--stars2) , 240px 775px var(--stars2) , 1893px 605px var(--stars2) , 1134px 1793px var(--stars2) , 1038px 1106px var(--stars2) , 1361px 1472px var(--stars2) , 530px 396px var(--stars2) , 1346px 1299px var(--stars2) , 557px 1903px var(--stars2) , 1822px 1394px var(--stars2) , 666px 294px var(--stars2) , 484px 1822px var(--stars2) , 307px 1351px var(--stars2) , 897px 346px var(--stars2) , 248px 1094px var(--stars2) , 725px 1661px var(--stars2) , 336px 452px var(--stars2) , 1112px 663px var(--stars2) , 449px 1841px var(--stars2) , 1495px 1679px var(--stars2) , 1705px 845px var(--stars2) , 1596px 1090px var(--stars2) , 1122px 1310px var(--stars2) , 456px 783px var(--stars2) , 1699px 102px var(--stars2) , 7px 1305px var(--stars2) , 269px 850px var(--stars2) , 1853px 1571px var(--stars2) , 923px 1295px var(--stars2) , 320px 421px var(--stars2) , 188px 1587px var(--stars2) , 443px 1548px var(--stars2) , 4px 1624px var(--stars2) , 696px 1871px var(--stars2) , 227px 1889px var(--stars2) , 1778px 195px var(--stars2) , 779px 1755px var(--stars2) , 1157px 81px var(--stars2) , 1200px 241px var(--stars2) , 198px 1782px var(--stars2) , 21px 1139px var(--stars2) , 817px 1690px var(--stars2) , 10px 1989px var(--stars2) , 1295px 175px var(--stars2) , 925px 323px var(--stars2) , 1527px 1831px var(--stars2) , 1429px 1897px var(--stars2) , 1379px 1933px var(--stars2) , 856px 708px var(--stars2) , 1462px 1317px var(--stars2) , 677px 1211px var(--stars2) , 568px 1590px var(--stars2) , 188px 958px var(--stars2) , 997px 962px var(--stars2) , 520px 276px var(--stars2) , 1967px 319px var(--stars2) , 759px 1145px var(--stars2) , 897px 702px var(--stars2) , 1651px 1813px var(--stars2) , 1917px 964px var(--stars2) , 710px 610px var(--stars2) , 1509px 232px var(--stars2) , 837px 1370px var(--stars2) , 900px 73px var(--stars2) , 739px 555px var(--stars2) , 529px 891px var(--stars2) , 25px 1241px var(--stars2) , 678px 1811px var(--stars2) , 835px 63px var(--stars2) , 1566px 1201px var(--stars2) , 731px 1062px var(--stars2) , 476px 1714px var(--stars2) , 454px 1345px var(--stars2) , 135px 1621px var(--stars2) , 28px 1748px var(--stars2) , 1716px 633px var(--stars2) , 1651px 1197px var(--stars2) , 760px 1747px var(--stars2) , 1485px 1508px var(--stars2) , 1889px 1372px var(--stars2) , 943px 953px var(--stars2) , 436px 96px var(--stars2) , 1501px 94px var(--stars2) , 779px 722px var(--stars2) , 1796px 870px var(--stars2) , 757px 827px var(--stars2) , 69px 531px var(--stars2) , 1828px 1922px var(--stars2) , 1840px 551px var(--stars2) , 849px 727px var(--stars2) , 1950px 1982px var(--stars2) , 41px 1881px var(--stars2) , 481px 1823px var(--stars2) , 1697px 435px var(--stars2) , 807px 1016px var(--stars2) , 1668px 1882px var(--stars2) , 216px 1053px var(--stars2) , 1555px 362px var(--stars2) , 867px 1739px var(--stars2) , 1433px 1808px var(--stars2) , 1920px 1190px var(--stars2) , 861px 660px var(--stars2) , 1856px 1999px var(--stars2) , 248px 996px var(--stars2) , 47px 324px var(--stars2) , 1209px 545px var(--stars2) , 700px 1762px var(--stars2) , 526px 416px var(--stars2) , 1772px 201px var(--stars2) , 1847px 448px var(--stars2) , 1501px 403px var(--stars2) , 594px 737px var(--stars2) , 1312px 285px var(--stars2) , 732px 257px var(--stars2) , 462px 587px var(--stars2) , 1070px 1555px var(--stars2) , 1595px 1977px var(--stars2) , 387px 522px var(--stars2);
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1019px 1130px var(--stars2) , 817px 653px var(--stars2) , 259px 470px var(--stars2) , 480px 1003px var(--stars2) , 764px 1622px var(--stars2) , 1986px 1452px var(--stars2) , 4px 899px var(--stars2) , 47px 769px var(--stars2) , 911px 932px var(--stars2) , 211px 240px var(--stars2) , 1114px 1301px var(--stars2) , 319px 1306px var(--stars2) , 1239px 764px var(--stars2) , 1978px 438px var(--stars2) , 1433px 1125px var(--stars2) , 1798px 555px var(--stars2) , 1155px 822px var(--stars2) , 1388px 773px var(--stars2) , 1332px 387px var(--stars2) , 1472px 655px var(--stars2) , 535px 1069px var(--stars2) , 631px 1257px var(--stars2) , 240px 644px var(--stars2) , 1430px 899px var(--stars2) , 666px 1668px var(--stars2) , 1137px 1124px var(--stars2) , 785px 448px var(--stars2) , 914px 129px var(--stars2) , 881px 1502px var(--stars2) , 250px 1284px var(--stars2) , 443px 1188px var(--stars2) , 659px 786px var(--stars2) , 442px 1121px var(--stars2) , 1620px 587px var(--stars2) , 986px 1982px var(--stars2) , 41px 707px var(--stars2) , 664px 557px var(--stars2) , 1279px 366px var(--stars2) , 271px 1676px var(--stars2) , 757px 1813px var(--stars2) , 1573px 1683px var(--stars2) , 872px 1739px var(--stars2) , 345px 186px var(--stars2) , 756px 1644px var(--stars2) , 851px 395px var(--stars2) , 1654px 358px var(--stars2) , 578px 1646px var(--stars2) , 768px 600px var(--stars2) , 416px 469px var(--stars2) , 1071px 539px var(--stars2) , 353px 1092px var(--stars2) , 490px 1531px var(--stars2) , 131px 1987px var(--stars2) , 1204px 1228px var(--stars2) , 159px 1459px var(--stars2) , 1566px 1002px var(--stars2) , 779px 1687px var(--stars2) , 1989px 1731px var(--stars2) , 1192px 1269px var(--stars2) , 1518px 461px var(--stars2) , 1379px 476px var(--stars2) , 1584px 1178px var(--stars2) , 813px 626px var(--stars2) , 1240px 1006px var(--stars2) , 867px 1143px var(--stars2) , 1471px 1444px var(--stars2) , 1303px 1996px var(--stars2) , 1632px 1286px var(--stars2) , 1606px 340px var(--stars2) , 80px 732px var(--stars2) , 422px 1514px var(--stars2) , 505px 1279px var(--stars2) , 1927px 541px var(--stars2) , 97px 540px var(--stars2) , 1691px 1849px var(--stars2) , 1065px 451px var(--stars2) , 1626px 672px var(--stars2) , 1217px 1584px var(--stars2) , 547px 1794px var(--stars2) , 1897px 729px var(--stars2) , 272px 6px var(--stars2) , 1260px 311px var(--stars2) , 1839px 1045px var(--stars2) , 240px 775px var(--stars2) , 1893px 605px var(--stars2) , 1134px 1793px var(--stars2) , 1038px 1106px var(--stars2) , 1361px 1472px var(--stars2) , 530px 396px var(--stars2) , 1346px 1299px var(--stars2) , 557px 1903px var(--stars2) , 1822px 1394px var(--stars2) , 666px 294px var(--stars2) , 484px 1822px var(--stars2) , 307px 1351px var(--stars2) , 897px 346px var(--stars2) , 248px 1094px var(--stars2) , 725px 1661px var(--stars2) , 336px 452px var(--stars2) , 1112px 663px var(--stars2) , 449px 1841px var(--stars2) , 1495px 1679px var(--stars2) , 1705px 845px var(--stars2) , 1596px 1090px var(--stars2) , 1122px 1310px var(--stars2) , 456px 783px var(--stars2) , 1699px 102px var(--stars2) , 7px 1305px var(--stars2) , 269px 850px var(--stars2) , 1853px 1571px var(--stars2) , 923px 1295px var(--stars2) , 320px 421px var(--stars2) , 188px 1587px var(--stars2) , 443px 1548px var(--stars2) , 4px 1624px var(--stars2) , 696px 1871px var(--stars2) , 227px 1889px var(--stars2) , 1778px 195px var(--stars2) , 779px 1755px var(--stars2) , 1157px 81px var(--stars2) , 1200px 241px var(--stars2) , 198px 1782px var(--stars2) , 21px 1139px var(--stars2) , 817px 1690px var(--stars2) , 10px 1989px var(--stars2) , 1295px 175px var(--stars2) , 925px 323px var(--stars2) , 1527px 1831px var(--stars2) , 1429px 1897px var(--stars2) , 1379px 1933px var(--stars2) , 856px 708px var(--stars2) , 1462px 1317px var(--stars2) , 677px 1211px var(--stars2) , 568px 1590px var(--stars2) , 188px 958px var(--stars2) , 997px 962px var(--stars2) , 520px 276px var(--stars2) , 1967px 319px var(--stars2) , 759px 1145px var(--stars2) , 897px 702px var(--stars2) , 1651px 1813px var(--stars2) , 1917px 964px var(--stars2) , 710px 610px var(--stars2) , 1509px 232px var(--stars2) , 837px 1370px var(--stars2) , 900px 73px var(--stars2) , 739px 555px var(--stars2) , 529px 891px var(--stars2) , 25px 1241px var(--stars2) , 678px 1811px var(--stars2) , 835px 63px var(--stars2) , 1566px 1201px var(--stars2) , 731px 1062px var(--stars2) , 476px 1714px var(--stars2) , 454px 1345px var(--stars2) , 135px 1621px var(--stars2) , 28px 1748px var(--stars2) , 1716px 633px var(--stars2) , 1651px 1197px var(--stars2) , 760px 1747px var(--stars2) , 1485px 1508px var(--stars2) , 1889px 1372px var(--stars2) , 943px 953px var(--stars2) , 436px 96px var(--stars2) , 1501px 94px var(--stars2) , 779px 722px var(--stars2) , 1796px 870px var(--stars2) , 757px 827px var(--stars2) , 69px 531px var(--stars2) , 1828px 1922px var(--stars2) , 1840px 551px var(--stars2) , 849px 727px var(--stars2) , 1950px 1982px var(--stars2) , 41px 1881px var(--stars2) , 481px 1823px var(--stars2) , 1697px 435px var(--stars2) , 807px 1016px var(--stars2) , 1668px 1882px var(--stars2) , 216px 1053px var(--stars2) , 1555px 362px var(--stars2) , 867px 1739px var(--stars2) , 1433px 1808px var(--stars2) , 1920px 1190px var(--stars2) , 861px 660px var(--stars2) , 1856px 1999px var(--stars2) , 248px 996px var(--stars2) , 47px 324px var(--stars2) , 1209px 545px var(--stars2) , 700px 1762px var(--stars2) , 526px 416px var(--stars2) , 1772px 201px var(--stars2) , 1847px 448px var(--stars2) , 1501px 403px var(--stars2) , 594px 737px var(--stars2) , 1312px 285px var(--stars2) , 732px 257px var(--stars2) , 462px 587px var(--stars2) , 1070px 1555px var(--stars2) , 1595px 1977px var(--stars2) , 387px 522px var(--stars2);
}

#stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 7px 347px var(--stars3) , 1209px 68px var(--stars3) , 108px 923px var(--stars3) , 689px 1600px var(--stars3) , 1995px 465px var(--stars3) , 252px 681px var(--stars3) , 471px 1661px var(--stars3) , 1435px 876px var(--stars3) , 1796px 1386px var(--stars3) , 1738px 895px var(--stars3) , 1020px 1464px var(--stars3) , 131px 282px var(--stars3) , 528px 743px var(--stars3) , 770px 1630px var(--stars3) , 19px 1217px var(--stars3) , 387px 162px var(--stars3) , 756px 1042px var(--stars3) , 258px 665px var(--stars3) , 1007px 426px var(--stars3) , 895px 640px var(--stars3) , 806px 1516px var(--stars3) , 1590px 984px var(--stars3) , 1229px 1197px var(--stars3) , 1105px 1368px var(--stars3) , 601px 1379px var(--stars3) , 1423px 924px var(--stars3) , 1563px 635px var(--stars3) , 1480px 1368px var(--stars3) , 998px 1780px var(--stars3) , 1609px 738px var(--stars3) , 80px 1932px var(--stars3) , 560px 84px var(--stars3) , 1169px 305px var(--stars3) , 1515px 889px var(--stars3) , 1951px 1573px var(--stars3) , 1790px 578px var(--stars3) , 738px 450px var(--stars3) , 232px 1193px var(--stars3) , 352px 287px var(--stars3) , 1012px 404px var(--stars3) , 1971px 81px var(--stars3) , 1228px 1494px var(--stars3) , 1592px 36px var(--stars3) , 1290px 1807px var(--stars3) , 1056px 1043px var(--stars3) , 154px 622px var(--stars3) , 1952px 784px var(--stars3) , 1465px 1183px var(--stars3) , 1039px 239px var(--stars3) , 743px 1326px var(--stars3) , 658px 919px var(--stars3) , 432px 845px var(--stars3) , 1306px 1721px var(--stars3) , 542px 44px var(--stars3) , 274px 721px var(--stars3) , 358px 1989px var(--stars3) , 1091px 324px var(--stars3) , 1560px 1688px var(--stars3) , 1923px 868px var(--stars3) , 275px 1068px var(--stars3) , 113px 485px var(--stars3) , 220px 1792px var(--stars3) , 204px 813px var(--stars3) , 700px 3px var(--stars3) , 862px 1569px var(--stars3) , 1926px 1928px var(--stars3) , 551px 536px var(--stars3) , 480px 500px var(--stars3) , 784px 1834px var(--stars3) , 1914px 1089px var(--stars3) , 1755px 577px var(--stars3) , 595px 1350px var(--stars3) , 947px 1604px var(--stars3) , 990px 425px var(--stars3) , 1463px 400px var(--stars3) , 1976px 1847px var(--stars3) , 352px 877px var(--stars3) , 1574px 1360px var(--stars3) , 235px 678px var(--stars3) , 935px 173px var(--stars3) , 679px 1878px var(--stars3) , 79px 1206px var(--stars3) , 1172px 181px var(--stars3) , 811px 1954px var(--stars3) , 764px 375px var(--stars3) , 1720px 151px var(--stars3) , 713px 207px var(--stars3) , 1653px 981px var(--stars3) , 1154px 1194px var(--stars3) , 1164px 1607px var(--stars3) , 1844px 630px var(--stars3) , 1657px 1837px var(--stars3) , 1457px 292px var(--stars3) , 783px 1036px var(--stars3) , 989px 511px var(--stars3) , 151px 1483px var(--stars3) , 1728px 265px var(--stars3) , 584px 37px var(--stars3) , 300px 594px var(--stars3) , 1856px 105px var(--stars3);
  animation: animStar 100s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 7px 347px var(--stars3) , 1209px 68px var(--stars3) , 108px 923px var(--stars3) , 689px 1600px var(--stars3) , 1995px 465px var(--stars3) , 252px 681px var(--stars3) , 471px 1661px var(--stars3) , 1435px 876px var(--stars3) , 1796px 1386px var(--stars3) , 1738px 895px var(--stars3) , 1020px 1464px var(--stars3) , 131px 282px var(--stars3) , 528px 743px var(--stars3) , 770px 1630px var(--stars3) , 19px 1217px var(--stars3) , 387px 162px var(--stars3) , 756px 1042px var(--stars3) , 258px 665px var(--stars3) , 1007px 426px var(--stars3) , 895px 640px var(--stars3) , 806px 1516px var(--stars3) , 1590px 984px var(--stars3) , 1229px 1197px var(--stars3) , 1105px 1368px var(--stars3) , 601px 1379px var(--stars3) , 1423px 924px var(--stars3) , 1563px 635px var(--stars3) , 1480px 1368px var(--stars3) , 998px 1780px var(--stars3) , 1609px 738px var(--stars3) , 80px 1932px var(--stars3) , 560px 84px var(--stars3) , 1169px 305px var(--stars3) , 1515px 889px var(--stars3) , 1951px 1573px var(--stars3) , 1790px 578px var(--stars3) , 738px 450px var(--stars3) , 232px 1193px var(--stars3) , 352px 287px var(--stars3) , 1012px 404px var(--stars3) , 1971px 81px var(--stars3) , 1228px 1494px var(--stars3) , 1592px 36px var(--stars3) , 1290px 1807px var(--stars3) , 1056px 1043px var(--stars3) , 154px 622px var(--stars3) , 1952px 784px var(--stars3) , 1465px 1183px var(--stars3) , 1039px 239px var(--stars3) , 743px 1326px var(--stars3) , 658px 919px var(--stars3) , 432px 845px var(--stars3) , 1306px 1721px var(--stars3) , 542px 44px var(--stars3) , 274px 721px var(--stars3) , 358px 1989px var(--stars3) , 1091px 324px var(--stars3) , 1560px 1688px var(--stars3) , 1923px 868px var(--stars3) , 275px 1068px var(--stars3) , 113px 485px var(--stars3) , 220px 1792px var(--stars3) , 204px 813px var(--stars3) , 700px 3px var(--stars3) , 862px 1569px var(--stars3) , 1926px 1928px var(--stars3) , 551px 536px var(--stars3) , 480px 500px var(--stars3) , 784px 1834px var(--stars3) , 1914px 1089px var(--stars3) , 1755px 577px var(--stars3) , 595px 1350px var(--stars3) , 947px 1604px var(--stars3) , 990px 425px var(--stars3) , 1463px 400px var(--stars3) , 1976px 1847px var(--stars3) , 352px 877px var(--stars3) , 1574px 1360px var(--stars3) , 235px 678px var(--stars3) , 935px 173px var(--stars3) , 679px 1878px var(--stars3) , 79px 1206px var(--stars3) , 1172px 181px var(--stars3) , 811px 1954px var(--stars3) , 764px 375px var(--stars3) , 1720px 151px var(--stars3) , 713px 207px var(--stars3) , 1653px 981px var(--stars3) , 1154px 1194px var(--stars3) , 1164px 1607px var(--stars3) , 1844px 630px var(--stars3) , 1657px 1837px var(--stars3) , 1457px 292px var(--stars3) , 783px 1036px var(--stars3) , 989px 511px var(--stars3) , 151px 1483px var(--stars3) , 1728px 265px var(--stars3) , 584px 37px var(--stars3) , 300px 594px var(--stars3) , 1856px 105px var(--stars3);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}