@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Manrope:wght@800&family=Ubuntu:wght@700&display=swap");

nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  z-index: 999;
  animation: fade-in 1.2s, slide-down 0.5s;
  -moz-animation: fade-in 1.2s, slide-down 0.5s;
  -webkit-animation: fade-in 1.2s, slide-down 0.5s;
}

.links {
  align-items: center;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links > li > a  {
	transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
}

.links  > li > a:hover{
  color: var(--primary-highlight);
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 3.5rem;
  background: none;
  border: none;
  height: 2.8rem;
  width: 3rem;
  z-index: 99;
}

.mobile-menu:hover {
  cursor: pointer;
}

.hamburger-line {
  background-color: var(--primary-light);
  transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -webkit-transition: transform ease-out 0.2s;
  height: 0.22rem;
  margin: 0.4rem 0;
  width: 2.2rem;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.links.open {
  right: 0rem;
}

.mobile-menu.open > .hamburger-line {     
  margin: 0;
  padding: 0;
  transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
}

.mobile-menu.open > .hamburger-line:first-child {
  transform: translate(0px, 2px) rotate(135deg);
  -moz-transform: translate(0px, 2px) rotate(135deg);
  -webkit-transform: translate(0px, 2px) rotate(135deg);
}
.mobile-menu.open > .hamburger-line:nth-child(2) {
  transform: translate(0px, -1px) rotate(225deg);
  -moz-transform: translate(0px, -1px) rotate(225deg);
  -webkit-transform: translate(0px, -1px) rotate(225deg);
}
.mobile-menu.open > .hamburger-line:last-child {
  opacity: 0;
  transform: translate(0px, -6px) rotate(180deg);
  -moz-transform: translate(0px, -6px) rotate(180deg);
  -webkit-transform: translate(0px, -6px) rotate(180deg);
}

nav a {
  text-decoration: none;
}

.brand-logo {
  position: absolute;
  left: 3.5rem;
  font-size: 2.5rem;
}

.brand-logo > a {
  color: var(--primary-highlight);
  font-family: "Ubuntu", sans-serif;
  transition: color ease-in-out 0.2s;
}

.brand-logo > a:hover {
  color: var(--primary-highlight-opaque);
}

.at-top {
  background: none;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  line-height: 4rem;
  align-items: center;
}

.not-at-top:not(.mobile-open) {
  background: var(--primary-blue-opaque);
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  height: 5rem;
  line-height: 5rem;
  align-items: center;
}

.open-mobile-menu-overlay {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

/*  Mobile */

@media (max-width: 1024px) {
  .links {
    background-color: var(--primary-blue-opaque);
    height: 100vh;
    position: absolute;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    top: 0rem;
    line-height: 5rem;
    width: 20rem;
    right: -20rem;
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    border-left: var(--section-border) 1px solid;
  }
  .open-mobile-menu-overlay {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    background: var(--primary-dark-opaque);
    display: none;
    z-index: -1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: 0;
    display:block;
    transition: opacity ease-in-out 0.4s;
    -moz-transition: opacity ease-in-out 0.4s;
    -webkit-transition: opacity ease-in-out 0.4s;
  }
  .open-mobile-menu-overlay.open {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
  .not-at-top {
    height: 4rem;
    line-height: 4rem;
    align-items: center;
  }
  .mobile-menu {
    display: block;
  }
}
