.preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-dark);
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#logo path {
  stroke-dasharray: 1234;
  stroke-dashoffset: 1234;
  stroke: var(--primary-highlight);
  filter: drop-shadow(0 0 8px var(--primary-highlight));
  animation: 
    flicker 2.7s ease forwards 0.8s,
    trace 3.5s ease forwards,
    strokeColorChange 2s ease forwards;
    /* fadeOut 0.5s ease forwards 3s; */
    /* fillIn 0.6s ease forwards 1.6s; */
}

@keyframes strokeColorChange {
  from {
    stroke: var(--primary-blue);
  }
  to {
    stroke: var(--primary-highlight);
  }
}

@keyframes fillIn {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-highlight);
  }
}

@keyframes trace {
  to{
    stroke-dashoffset: 10;
  }
}

@keyframes fadeOut {
  to{
    opacity: 0;
  }
}

@keyframes flicker {
  0%    { opacity: 1;   }
  3%    { opacity: 0.1; }
  6%    { opacity: 1;   }
  7%    { opacity: 0.2; }
  8%    { opacity: 1;   }
  9%    { opacity: 0.1; }
  10%    { opacity: 1;   }
  11%    { opacity: 0.3; }
  12%    { opacity: 1;   }
  13%    { opacity: 0.4; }
  14%   { opacity: 1;   }

  60%    { opacity: 1;   }
  63%    { opacity: 0.3; }
  66%    { opacity: 1;   }
  67%    { opacity: 0.2; }
  68%    { opacity: 1;   }
  69%    { opacity: 0.1; }
  70%    { opacity: 1; }

  95%    { opacity: 1;   }
  96%    { opacity: 0.2; }
  97%    { opacity: 1;   }
  98%    { opacity: 0.2; }
  99%    { opacity: 1; }

  100%  { opacity: 0;   }
}