.preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-dark);
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#logo path {
  stroke-dasharray: 1234;
  stroke-dashoffset: 1234;
  stroke: var(--primary-light);
  animation: trace 3s ease forwards, fadeOut 0.4s ease forwards 2.3s;
}

@keyframes trace {
  to{
    stroke-dashoffset: 10;
    stroke: var(--primary-highlight);
  }
}

@keyframes fadeOut {
  to{
    opacity: 0;
  }
}